@import "../base/base.scss";
$main-width: 320px;

.main-login {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .center-area {
    width: $main-width;

    animation: fadeInRight;
    animation-duration: 0.5s;

    .title {
      font-size: 24px;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 8px;
    }

    form {
      label {
        display: block;
        margin-bottom: 4px;
      }

      .field {
        margin-bottom: 20px;
      }
      .password-field {
        margin-bottom: 4px;
      }

      i.toggle-code {
        margin-left: 8px;
        color: grey;
        cursor: pointer;
      }

      .error {
        font-weight: 500;
        color: red;
      }

      .forgot {
        text-align: right;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 40px;
      }
    }

    .link-to-signup,
    .link-to-login {
      margin-bottom: 30px;

      span {
        font-weight: 600;
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}

// For modal 2FA old verison

.enter-2fa-when-login {
  input {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: whitesmoke;
  }
}

// For modal 2FA new verison

// .otpInputContainer {
//   justify-content: center;
//   align-items: center;

//   .otpInputInput {
//     width: 50px !important;
//     height: 50px !important;
//     border-radius: 5px;
//     margin: 4px;
//     border: none;
//     outline: none;
//     background: whitesmoke;
//     color: $main-dark;
//     font-weight: 600;
//     font-size: 24px;

//     @media screen and (max-width: 768px) {
//       width: 40px !important;
//       height: 40px !important;
//       margin: 3px;
//       font-size: 22px;
//     }
//   }
// }
// .otpInputModalWhenLogin {
//   .ant-modal-footer {
//     text-align: center;
//   }
//   .ant-modal-body {
//     padding: 20px !important;
//   }
// }
