.profile-new-card {
	background: #02142b;
	margin: auto;
	border: 1px solid #ffffff1a;
	border-radius: 5px;

	.title {
		padding: 16px;
		font-size: 18px;
		font-weight: 500;
		border-bottom: 1px solid #ffffff1a;
	}

}