.switch-custom {
	width: 58px;
	height: 24px;
	border-radius: 99px;
	position: relative;
	color: #ffffff;
	background: #b7b7b7;
	cursor: pointer;
	font-size: 10px;
	font-weight: 700;
	user-select: none;

	&.active {
		background: #23c15f;

		.on {
			opacity: 1;
		}

		.off {
			opacity: 0;
		}

		.ball {
			margin-left: 34px;
		}
	}

	.on {
		position: absolute;
		top: calc(50% + 1px);
		left: 6px;
		transform: translateY(-50%);
		transition: opacity .2s;
		opacity: 0;
	}

	.off {
		position: absolute;
		top: calc(50% + 1px);
		right: 6px;
		transform: translateY(-50%);
		transition: opacity .2s;
		opacity: 1;
	}

	.ball {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 2px;
		transform: translateY(-50%);
		margin-left: 0;
		background: #fff;
		border-radius: 99px;
		transition: margin-left .4s;

		.loading {
			width: 17px;
			height: 17px;
			position: absolute;
			top: 5%;
			transform: translateY(-50%);
			left: 2px;
			border: 2px solid transparent;
			border-top: 2px solid #00000080;
			border-left: 2px solid #00000080;
			animation: spin 0.8s linear infinite;
			border-radius: 99px;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}